Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  openmp-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-vararg,
  -misc-const-correctness,
  -misc-non-private-member-variables-in-classes,
  -modernize-pass-by-value,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -openmp-use-default-none,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-named-parameter

HeaderFilterRegex: '.*/src/coug_[a-z_]+/.*/include/.*'

CheckOptions:
  misc-include-cleaner.IgnoreHeaders: 'Eigen/.*;Qt.*/.*;math.h'
  readability-implicit-bool-conversion.AllowPointerConditions: 'true'

FormatStyle: file

WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  performance-*,
  portability-*
